@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --foreground: #ecf0f1;
  --background: #2c3e50;
  --background-light: #3b5065;
  --background-lighter: #425a71;
  --muted: #8b9899;
  --danger: #e74c3c;

  --difficulty-very-easy: #2ecc71;
  --difficulty-easy: #27ae60;
  --difficulty-medium: #f1c40f;
  --difficulty-hard: #e67e22;
  --difficulty-very-hard: #e74c3c;
  --difficulty-impossible: #ae66cb;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  background: #ecf0f1;
  background: linear-gradient(to bottom right, #ecf0f1 0%, #3b5065 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 40px;
}

input,
textarea {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  background-color: var(--background-light);
  color: var(--foreground);
  border: 1px solid var(--background-light) !important;
  padding: 8px;
  margin: 2px 0;
}
input:focus,
textarea:focus {
  border: 1px solid var(--foreground) !important;
  outline: none;
  background-color: var(--background-lighter);
}

input:invalid {
  border: 1px solid var(--danger) !important;
}

hr {
  border: 1px solid var(--background-light);
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}
.muted {
  color: var(--muted);
}
.w-small {
  width: 40px;
  text-align: center;
}
.w-large {
  width: 400px;
}
.w-full {
  width: 100%;
}
.click-select {
  cursor: pointer;
  user-select: all;
}

.svelte-fa {
  color: var(--muted);
  font-size: 16px;
  margin-left: 10px;
  margin-right: 6px;
}

.inputs-row {
  display: flex;
  align-items: baseline;
  gap: 0.2em;
  flex-wrap: wrap;
}
.inputs-row .svelte-fa {
  transform: translateY(0.125em);
}

.hint {
  display: block;
  margin-top: 0.5em;
  color: var(--muted);
}

[data-tooltip]:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  border: 1px solid var(--background-light);
  background-color: var(--background);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 0.25em;
  z-index: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
